#intro-section
  .container
    .row
      .col-md-12
        %h1 Heading 1 d
        %h2 Heading 2
        %h3 Heading 3
        %h4 Heading 4
        Make a statement with
        %span.alternative-font
          alternative font
        %h2 Block Quote
        %blockquote
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .btn button
        .btn.btn-primary primary button
        %table.table.table-responsive
          %thead
            %td
              order
            %td
              name
            %td
              description
          %tr
            %td
              1
            %td
              orange
            %td
              delicious fruit
          %tr
            %td
              2
            %td
              oats
            %td
              wholesome goodness
          %tr
            %td
              3
            %td
              bananas
            %td
              excellent source of potassium
        %table.table.table-striped
          %thead
            %td
              order
            %td
              name
            %td
              description
          %tr
            %td
              1
            %td
              orange
            %td
              delicious fruit
          %tr
            %td
              2
            %td
              oats
            %td
              wholesome goodness
          %tr
            %td
              3
            %td
              bananas
            %td
              excellent source of potassium