.jumbotron.landing
  .container.text-center
    %h1 Teesy
    %p
      The easiest way to find the *best* distributor prices available!
    .btn.btn-lg.btn-primary
      = link_to "Learn More"
    .btn.btn-lg.btn-primary
      = link_to "Sign up now!", new_user_registration_path


