@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700)
@import "bootstrap-custom"

// Global Styling
h1, h2 ,h3, h4, h5, p
  color: $text-color

#flash-display
  background-color: $color-primary
  color: white
  .alert
    margin-bottom: 0
    padding: 15px 15px

.btn, .account-panel
  border-radius: $border-radius-base


// Navigation
.navbar
  background-color: gray
  border: none
  border-radius: 0
  margin-bottom: 0

  span.icon-bar
    background-color: $white


// Buttons and Links
.btn:hover
  opacity: 0.8
.btn-primary
  background-color: gray
  border-color: $color-primary
.btn-primary:hover
  background-color: white
  border-color: $color-primary
a
  color: black


// Utility Classes
.alternative_font
  font-family: "Shadows Into Light", cursive
  font-size: 1.6em
  color: $text-color
.padded_container
  padding: 60px 0
.text_center
  text-align: center
.text_right
  text-align: right


// Account, Registration, and Form Classes
.account_panel
  input, select, textarea, input.form-control
    margin-bottom: 30px

.account_panel
  border: 1px solid $gray-light-2
  border-radius: 4px
  max-width: 700px
  margin: auto
  .account_header
    background-color: $color-primary
    border-bottom: 1px solid $gray-light-2
    margin-top: 0
    padding: 40px 15px
    text-align: center
    h2
      margin: 0
      padding-bottom: 0
      color: white
  .account_content
    padding: 40px 40px
    input
      width: 100%
    .actions
      a
        display: block
        margin-left: auto
        margin-right: auto
        text-align: center
    .account_footer
      margin-top: 30px

input.form-control
  height: 42px
  padding: 8px 12px
  line-height: 1.467
  border: 1px solid $gray-light-2


// Footer Classes
#footer
  background-color: $color-primary
  padding: 10px 0
  line-height: 5em
  p
    color: white
    line-height: 5em
  a:hover
    text-decoration: none

.active-distributor
  background-color: $color-primary








